<div class="container contacts">
    <div class="row text-center">
        <div class="col-md-2 offset-md-3">
            <a href="https://www.facebook.com/toitureconceptmetal/" target="_blank">
                <i class="fa fa-facebook-square fa-4x"></i>
            </a>
        </div>
        <div class="col-md-2">
            <a href="tel:4188171495">
                <i class="fa fa-phone-square fa-4x"></i>
            </a>
        </div>
        <div class="col-md-2">
            <a href="mailto:andrephilippesheehy@hotmail.com">
                <i class="fa fa-envelope fa-4x"></i>
            </a>
        </div>
    </div>
</div>

<div class="container text-center">
    &copy;Toiture concept metal - 2018
</div>