<nav class="main">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a
                class="nav-link {% if page.url == site.routes.index %} active {% endif %}"
                href="{{ "/" | relative_url }}"
                title="Accueil"
            >Accueil</a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link {% if page.url == site.routes.realizations %} active {% endif %}"
                href="{{ "/realizations" | relative_url }}"
                title="Réalisations"
            >Réalisations</a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link {% if page.url == site.routes.products %} active {% endif %}"
                href="{{ "/products" | relative_url }}"
                title="Produits"
            >Produits</a>
        </li>
        <li class="nav-item">
        <!--TODO mettre un dropdown avec les infos contact-->
        </li>
    </ul>

</nav>
