<nav class="main">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a
                class="nav-link {% if page.url == site.routes.index %} active {% endif %}"
                href="{{ site.url }}{{ site.routes.index }}"
                title="Accueil"
            >Accueil</a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link {% if page.url == site.routes.about %} active {% endif %}"
                href="{{ site.url }}{{ site.routes.about }}"
                title="Contact"
            >Contact</a>
        </li>
    </ul>

</nav>