// Screen width related vars (bootstrap)
$x-small-screen: 320px;
$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 992px;
$extra-large-screen: 1200px;

// Font size related vars
$font-size-title: 30px;
$font-size-large: 24px;
$font-size-medium: 20px;
$font-size-regular: 16px;
$font-size-small: 14px;
$font-size-x-small: 12px;

// Fonts related vars
$text-color: #333;


$font-stack: 'Raleway', Helvetica, Arial, sans-serif;