// Default styles goes here
a,
a:hover,
a:active {
    text-decoration: none;
    color: $text-color;
}

h1 {
    font-size: $font-size-large;

    @media only screen and (min-width: $medium-screen) {
        font-size: $font-size-title;
    }
}

h2 {
    font-size: $font-size-medium;

    @media only screen and (min-width: $medium-screen) {
        font-size: $font-size-large;
    }
}

p {
    font-size: $font-size-small;

    @media only screen and (min-width: $medium-screen) {
        font-size: $font-size-regular;
    }
}

.jumbotron {
    padding: 0;
    border-radius: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

body {
    font-family: $font-stack;
    font-size: $font-size-small;

    @media only screen and (min-width: $medium-screen) {
        font-size: $font-size-regular;
    }

    section {
        padding-top: 30px;
        padding-bottom: 30px;

        @media only screen and (min-width: $medium-screen) {
            padding-top: 60px;
            padding-bottom: 60px;
        }

        @media only screen and (min-width: $large-screen) {
            text-align: justify;
            padding-left: 175px;
            padding-right: 175px;
        }

        ul {
            margin-top: 15px;

            li {
                margin-top: 8px;
            }
        }
    }

    nav.main {
        z-index: 1;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.75);
        border-bottom: 1px solid #fff;

        @media only screen and (max-width: $x-small-screen) {
            font-size: $font-size-x-small;

            a.nav-link {
                padding: 0.5rem 0.5rem;
            }
        }

        a.active {
            font-weight: bold;
        }
        
        a:hover {
            text-decoration: underline;
        }
    }

    footer {
        margin-top: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: $font-size-x-small;

        @media only screen and (min-width: $medium-screen) {
            font-size: $font-size-small;
        }
    }
}
