<section>
    <header class="container">
        <h1>Nos fournisseurs</h1>
        <h2>Seul dépositaire en région</h2>
    </header>

    <div class="container">
        <div class="row text-center products">
            <div class="col-md-4 offset-md-2">
                <a href="http://www.decra.com/products" target="_blank">
                    <img src="{{ "/img/logos/decra-logo.png" | relative_url }}" title="Decra logo">
                </a>
            </div>
            <div class="col-md-4">
                <a href="http://metstar.com/" target="_blank">
                    <img src="{{ "/img/logos/metstar-logo.png" | relative_url }}" title="Metstar logo">
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <h2>
            Autres fournisseurs
        </h2>
        <div class="row text-center other-products">
            <div class="col-md-4">
                <a href="https://vicwest.com/fr/" target="_blank">
                    <img src="{{ "/img/logos/vicwest-logo.jpg" | relative_url }}" title="Vicwest logo">
                </a>
            </div>
            <div class="col-md-4">
                <a href="hhttp://www.idealroofing.ca/francais_canada/html/products.php" target="_blank">
                    <img src="{{ "/img/logos/ideal-logo.png" | relative_url }}" title="Ideal roofing logo">
                </a>
            </div>
            <div class="col-md-4">
                <a href="http://metstar.com/" target="_blank">
                    <img src="{{ "/img/logos/arrowline-logo.png" | relative_url }}" title="Arrowline logo">
                </a>
            </div>
        </div>
        <div class="row text-center other-products">
            <div class="col-md-4">
                <a href="https://www.enviroshake.com/" target="_blank">
                    <img src="{{ "/img/logos/enviroshake-logo.png" | relative_url }}" title="Enviroshake logo">
                </a>
            </div>
            <div class="col-md-4">
                <a href="http://steeltile.com/" target="_blank">
                    <img src="{{ "/img/logos/steeltile-logo.png" | relative_url }}" title="Steel tile logo">
                </a>
            </div>
            <div class="col-md-4">
                <a href="https://www.inspireroofing.com/" target="_blank">
                    <img src="{{ "/img/logos/inspire-logo.jpg" | relative_url }}" title="inspire logo">
                </a>
            </div>
        </div>
        <div class="row text-center other-products">
            <div class="col-md-4">
                <a href="http://metroroofs.com/" target="_blank">
                    <img src="{{ "/img/logos/metro-logo.jpg" | relative_url }}" title="Metro roof products logo">
                </a>
            </div>
            <div class="col-md-4">
                <a href="https://www.allmet.com/" target="_blank">
                    <img src="{{ "/img/logos/allmet-logo.png" | relative_url }}" title="Allmet logo">
                </a>
            </div>
            <div class="col-md-4">
                <a href="https://www.gerardusa.com/" target="_blank">
                    <img src="{{ "/img/logos/gerard-logo.jpg" | relative_url }}" title="Gerard logo">
                </a>
            </div>
        </div>
    </div>
</section>
