<section>
    <div class="container">
        <h1>{{ site.title }}</h1>
        <p>
            Est une entreprise de la région se spécialisant dans l'installation et la vente de tous types de revêtements métalliques pour votre toiture.
        </p>
    </div>
    <div class="container">
        <h2>Un choix impressionant de manufacturiers pour tous les goûts et budgets</h2>
        <p>
            Toiture Concept Métal vous offre un choix impressionnant de toitures métalliques de qualité supérieure. L’installation d'une toiture métallique est un investissement à long terme, pour toute une vie. D’où l’importance de s'informer auprès de notre équipe compétente afin de prendre une décision bien éclairée. Notre équipe d’installation est formée de professionnels expérimentés dans le domaine et vous garantit un travail impeccable et de qualité supérieure visant l'entière satisfaction du client.
        </p>
    </div>
</section>